body {
  background-image: url("hello13.jpg");
  background-color: #3d3d3d;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.container {
  margin: 0 auto;
  color: white; 
}

.card {
  background-color: #ffffffb1;   
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
  width: "30%";
  margin-bottom: "20px"; 
}



.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

.content-section {
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: black;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Century Gothic", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px; 
  text-shadow: 
    -2px -2px 0 #000,  /* Top left */
    2px -2px 0 #000,   /* Top right */
    -2px 2px 0 #000,   /* Bottom left */
    2px 2px 0 #000; 
}

h2 {
  margin-top: 50px;
  color: white;
  font-family: "Century Gothic", sans-serif;
}


