<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
    <script>
        // JavaScript code to perform the redirection
        setTimeout(function() {
            window.location.href = "http://localhost:3000";
        }, 3000); // Redirect after 3 seconds (adjust the delay as needed)
    </script>
</head>
<body>

    <h1>Welcome to BlogHive</h1>
    <p>Redirecting...</p>
    
</body>
</html>
